.movie-text{
  margin:auto ;
}

.box {

  display: flex;
}
.container {

// height: 100%;
margin:0px;


}

.pict {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


@media all and (max-width: 1200px) {
  .box {
    display: block;
  }
}